.brandname{
    text-align: center;
}

.image{
    width: 710px;
    height: 600px;
    margin-right: 10px;
    margin-left: 20px;
    transition: 0.3s ease;
}

.items img{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
    transition: 0.3s ease;

}

.body img:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


  
.image-container {
    position:relative;
    width:350ppx;
    height: 350px;
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay {
    position:absolute;
    top: 200px;
    left: 50%;
    bottom: 10px;
    height: 20px;
    
    background: rgb(255, 8, 8);
    color: rgb(255, 248, 248);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-50%);

    opacity: 0;
    transition: 0.3s ease;

}

.overlay button {
    padding: 8px 15px;
    background-color: rgb(251, 19, 19);
    color: white;
    border: none;
    cursor: pointer;
}

.image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

#specialheading{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
}

.gta{
    width: 350px;
    height: 350px;
}

.special-items {
    display: flex;
    gap: 20px;
}

.card{
    text-align: center;
}

.card img{
    width: 350px;
    height: 350px;
    transition: 0.3s ease;
}

.card img:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

